{% block sw_cms_preview_hero_product_landing %}
<div class="sw-cms-preview-hero-product-landing">
    
    {# Matt Interfaces Branding #}
    <div class="sw-cms-preview-hero-product-landing__branding">
        <a href="https://matt-interfaces.ch" target="_blank" rel="noopener noreferrer" title="Matt Interfaces - Shopware Hero Blocks">
            <span class="sw-cms-preview-hero-product-landing__branding-text">
                matt interfaces
            </span>
        </a>
    </div>
    
    {# Product Preview #}
    <div class="sw-cms-preview-hero-product-landing__product">
        <div class="sw-cms-preview-hero-product-landing__image">
            <sw-icon name="regular-shopping-bag" size="32px" />
        </div>
        <div class="sw-cms-preview-hero-product-landing__info">
            <div class="sw-cms-preview-hero-product-landing__name">
                Product Landing
            </div>
            <div class="sw-cms-preview-hero-product-landing__description">
                Zeigt Produktdaten auf Landing Pages
            </div>
            <div class="sw-cms-preview-hero-product-landing__price">
                €XX.XXX
            </div>
        </div>
    </div>
    
</div>
{% endblock %}
