{% block sw_cms_el_config_hero_instagram_feed %}
    <div class="sw-cms-el-config-hero-instagram-feed">
        <mt-banner variant="info">
            {{ $tc('sw-cms.elements.heroInstagramFeed.config.infoText') }}
        </mt-banner>
    </div>
{% endblock %}

