{% block sw_cms_preview_two_images %}
<div class="sw-cms-preview-two-images">
    <div class="sw-cms-preview-two-images__left">
        <img :src="assetFilter('administration/static/img/cms/preview_camera_large.jpg')" alt="">
    </div>
    <div class="sw-cms-preview-two-images__right">
        <img :src="assetFilter('administration/static/img/cms/preview_plant_large.jpg')" alt="">
    </div>
</div>
{% endblock %}

