{% block sw_cms_block_hero_product_landing %}
<div class="sw-cms-block-hero-product-landing">
    <slot name="content">
        <div class="sw-cms-block-hero-product-landing__content">
            Product Landing Content
        </div>
    </slot>
</div>
{% endblock %}
