{% block sw_cms_preview_hero_mega_menu %}
<div class="sw-cms-preview-hero-mega-menu">
    <div class="sw-cms-preview-hero-mega-menu__content">
        <div class="sw-cms-preview-hero-mega-menu__icon">
            <mt-icon name="regular-bars" size="16" />
        </div>
        <div class="sw-cms-preview-hero-mega-menu__label">
            {{ $tc('sw-cms.blocks.heroBlocks.heroMegaMenu.label') }}
        </div>
    </div>
</div>
{% endblock %}

