{% block sw_cms_preview_hero_image_overlay %}
<div class="sw-cms-preview-hero-image-overlay">
    {# Background Image #}
    <img
        :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')"
        alt="Preview"
        class="sw-cms-preview-hero-image-overlay__image"
    >
    
    {# Text Overlay Panel (top-left default) #}
    <div class="sw-cms-preview-hero-image-overlay__overlay">
        <div class="sw-cms-preview-hero-image-overlay__overlay-content">
            <h4 class="sw-cms-preview-hero-image-overlay__headline">Headline</h4>
            <p class="sw-cms-preview-hero-image-overlay__text">Lorem ipsum dolor sit amet</p>
        </div>
    </div>
    
    {# Matt Interfaces Branding #}
    <div class="hero-blocks-matt-interfaces-branding">
        <a href="http://matt-interfaces.ch/shopware-hero-blocks" 
           target="_blank" 
           rel="noopener noreferrer"
           class="hero-blocks-branding-link"
           :title="$tc('sw-cms.blocks.heroBlocks.mattInterfacesBranding.title')">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" class="hero-blocks-branding-logo">
                <path d="M48.473 139.095 C 30.659 142.788,20.497 163.259,28.516 179.297 C 32.094 186.454,114.242 268.627,120.837 271.646 C 142.478 281.554,166.478 261.974,160.638 239.178 C 159.943 236.467,159.375 234.090,159.375 233.896 C 159.375 233.703,166.147 240.323,174.424 248.608 C 199.215 273.424,201.348 274.794,214.055 274.058 C 232.618 272.984,245.988 252.172,238.795 235.547 C 237.686 232.984,240.785 235.746,256.026 250.907 C 278.469 273.232,279.379 273.828,291.016 273.828 C 303.361 273.828,313.635 267.003,317.509 256.230 L 318.966 252.180 320.225 255.740 C 328.394 278.841,361.722 280.405,372.681 258.203 C 375.257 252.985,376.077 220.737,373.812 213.754 C 371.213 205.741,364.626 199.145,356.196 196.113 C 353.703 195.217,352.682 194.576,353.719 194.559 C 368.550 194.323,380.012 169.973,372.492 154.678 C 364.074 137.557,340.022 133.558,326.657 147.056 C 311.829 162.033,320.900 194.254,340.031 194.559 C 341.068 194.576,340.047 195.217,337.554 196.113 C 324.019 200.981,318.788 209.814,318.695 227.957 C 318.644 237.797,318.555 238.441,317.602 235.851 C 315.480 230.086,311.735 226.046,270.581 185.118 C 226.274 141.054,225.900 140.731,217.104 139.032 C 195.589 134.875,177.758 156.769,185.583 177.734 C 185.903 178.594,177.765 170.995,167.497 160.849 C 150.569 144.121,148.391 142.235,144.141 140.619 C 120.502 131.636,98.185 153.842,106.746 177.829 C 107.034 178.636,98.866 171.015,88.596 160.894 C 66.385 139.005,61.559 136.383,48.473 139.095" fill="currentColor" fill-rule="evenodd"/>
            </svg>
        </a>
    </div>
</div>
{% endblock %}

