{% block sw_cms_block_category_slider %}
<div class="sw-cms-block-category-slider">
    <div class="sw-cms-block-category-slider__slot">
        <slot name="categoryImages"></slot>
    </div>
</div>
{% endblock %}

