{% block sw_cms_el_preview_hero_booking_form %}
    <div class="sw-cms-el-preview-hero-booking-form">
        <sw-icon name="regular-calendar-day" size="24px"></sw-icon>
        <span>{{ $tc('sw-cms.elements.heroBookingForm.label') }}</span>
    </div>
{% endblock %}
