{% block sw_cms_el_preview_category_slider %}
<div class="sw-cms-el-preview-hero-category-slider">
    <div class="sw-cms-el-preview-hero-category-slider__placeholder">
        <span class="sw-cms-el-preview-hero-category-slider__placeholder-icon">
            <mt-icon name="regular-image" size="24"></mt-icon>
        </span>
        <div class="sw-cms-el-preview-hero-category-slider__placeholder-text">
            {{ $tc('sw-cms.elements.categorySlider.label') }}
        </div>
    </div>
</div>
{% endblock %}

