{% block sw_cms_block_config_hero_image_overlay %}
<div class="sw-cms-block-config-hero-image-overlay" v-if="block && block.customFields">
    
    {# ============================================================================ #}
    {# POSITION SETTINGS #}
    {# ============================================================================ #}
    <div class="sw-cms-block-config-hero-image-overlay__section">
        <h4 class="sw-cms-block-config-hero-image-overlay__section-title">
            {{ $tc('sw-cms.blocks.heroBlocks.heroImageOverlay.config.sectionPosition') }}
        </h4>
        
        {# Overlay Position (6 Positionen) - WICHTIG: :value + @update:value für korrektes Speichern #}
        <sw-select-field
            :value="overlayPosition"
            :label="$tc('sw-cms.blocks.heroBlocks.heroImageOverlay.config.overlayPosition')"
            :options="positionOptions"
            :helpText="$tc('sw-cms.blocks.heroBlocks.heroImageOverlay.config.overlayPositionHelp')"
            @update:value="(value) => updateCustomField('overlayPosition', value)"
        />
    </div>
    
    {# ============================================================================ #}
    {# CONTENT SETTINGS #}
    {# ============================================================================ #}
    <div class="sw-cms-block-config-hero-image-overlay__section">
        <h4 class="sw-cms-block-config-hero-image-overlay__section-title">
            {{ $tc('sw-cms.blocks.heroBlocks.heroImageOverlay.config.sectionContent') }}
        </h4>
        
        {# Overlay Headline - WICHTIG: :value + @update:value für korrektes Speichern #}
        <sw-text-field
            :value="overlayHeadline"
            :label="$tc('sw-cms.blocks.heroBlocks.heroImageOverlay.config.overlayHeadline')"
            :placeholder="$tc('sw-cms.blocks.heroBlocks.heroImageOverlay.config.overlayHeadlinePlaceholder')"
            @update:value="(value) => updateCustomField('overlayHeadline', value)"
        />
        
        {# Overlay Text - HTML Editor für Rich Content #}
        {# WICHTIG: sw-text-editor verwendet :value und @update:value statt v-model #}
        <sw-text-editor
            :value="overlayText"
            :label="$tc('sw-cms.blocks.heroBlocks.heroImageOverlay.config.overlayText')"
            :placeholder="$tc('sw-cms.blocks.heroBlocks.heroImageOverlay.config.overlayTextPlaceholder')"
            :sanitize-input="false"
            :sanitize-field-value="false"
            :allow-inline-data-mapping="false"
            :is-inline-edit="false"
            @update:value="onOverlayTextChange"
        />
    </div>
    
    {# ============================================================================ #}
    {# STYLE SETTINGS #}
    {# ============================================================================ #}
    <div class="sw-cms-block-config-hero-image-overlay__section">
        <h4 class="sw-cms-block-config-hero-image-overlay__section-title">
            {{ $tc('sw-cms.blocks.heroBlocks.heroImageOverlay.config.sectionStyle') }}
        </h4>
        
        {# Overlay Background Color - WICHTIG: :value + @update:value für korrektes Speichern #}
        <sw-colorpicker
            :value="overlayBackgroundColor"
            :label="$tc('sw-cms.blocks.heroBlocks.heroImageOverlay.config.overlayBackgroundColor')"
            :helpText="$tc('sw-cms.blocks.heroBlocks.heroImageOverlay.config.overlayBackgroundColorHelp')"
            :colorOutput="'hex'"
            @update:value="(value) => updateCustomField('overlayBackgroundColor', value)"
        />
        
        {# Overlay Text Color (Default: white) - WICHTIG: :value + @update:value für korrektes Speichern #}
        <sw-colorpicker
            :value="overlayTextColor"
            :label="$tc('sw-cms.blocks.heroBlocks.heroImageOverlay.config.overlayTextColor')"
            :helpText="$tc('sw-cms.blocks.heroBlocks.heroImageOverlay.config.overlayTextColorHelp')"
            :colorOutput="'hex'"
            @update:value="(value) => updateCustomField('overlayTextColor', value)"
        />
        
        {# Minimum Height - WICHTIG: :value + @update:value für korrektes Speichern #}
        <sw-text-field
            :value="minHeight"
            :label="$tc('sw-cms.blocks.heroBlocks.heroImageOverlay.config.minHeight')"
            :placeholder="$tc('sw-cms.blocks.heroBlocks.heroImageOverlay.config.minHeightPlaceholder')"
            :helpText="$tc('sw-cms.blocks.heroBlocks.heroImageOverlay.config.minHeightHelp')"
            @update:value="(value) => updateCustomField('minHeight', value)"
        />
    </div>
    
    {# ============================================================================ #}
    {# ANIMATION SETTINGS #}
    {# ============================================================================ #}
    <div class="sw-cms-block-config-hero-image-overlay__section">
        <h4 class="sw-cms-block-config-hero-image-overlay__section-title">
            {{ $tc('sw-cms.blocks.heroBlocks.heroImageOverlay.config.sectionAnimation') }}
        </h4>
        
        {# Enable Scroll Animation - WICHTIG: :value + @update:value für korrektes Speichern #}
        <sw-switch-field
            :value="enableScrollAnimation"
            :label="$tc('sw-cms.blocks.heroBlocks.heroImageOverlay.config.enableScrollAnimation')"
            :helpText="$tc('sw-cms.blocks.heroBlocks.heroImageOverlay.config.enableScrollAnimationHelp')"
            @update:value="(value) => updateCustomField('enableScrollAnimation', value)"
        />
    </div>
    
</div>
{% endblock %}

