{% block sw_cms_block_config_hero_video_extended %}
<div class="sw-cms-block-config-hero-video-extended">
    {# WICHTIG: Coming Soon Banner #}
    <mt-banner variant="info">
        {{ $tc('sw-cms.blocks.heroBlocks.heroVideoExtended.config.comingSoon') }}
    </mt-banner>
    
    {# TODO: Video Settings werden hier später konfiguriert #}
</div>
{% endblock %}

