{% block sw_extension_config %}
<sw-meteor-page
    class="sw-extension-config"
    :from-link="fromLink"
>
    <template #smart-bar-icon>
        <sw-extension-icon
            class="sw-extension-config__extension-icon"
            :src="image"
            :alt="$tc('sw-extension-store.component.sw-extension-config.imageDescription', { extensionName: extensionLabel}, 0)"
        />
    </template>

    <template #smart-bar-header>
        {{ extensionLabel }}
    </template>

    <template
        v-if="extension"
        #smart-bar-header-meta
    >
        <span v-if="extension.producerWebsite && extension.producerName">
            {{ $tc('sw-extension-store.component.sw-extension-config.labelBy') }}

            <sw-external-link
                small
                :href="extension.producerWebsite"
                class="sw-extension-config__producer-link"
            >
                {{ extension.producerName }}
            </sw-external-link>
        </span>

        <span v-else-if="extension.producerName">
            {{ $tc('sw-extension-store.component.sw-extension-config.labelBy') }} {{ extension.producerName }}
        </span>
    </template>

    <template #smart-bar-actions>
        {# Active License Chip im Header - nur für HeroBlocks #}
        {# Layout: Custom Button mit [Farb-Indikator] [Text] [Zahnrad-Icon] #}
        <button 
            v-if="isHeroBlocksConfig && showLicenseChip" 
            :class="[
                'sw-extension-config__license-chip-btn', 
                { 
                    'is-loading': isSilentLicenseChecking,
                    'is--active': licenseStatus === 'active',
                    'is--expired': licenseStatus === 'expired' || licenseStatus === 'invalid'
                }
            ]"
            @click="onLicenseChipClick"
            type="button"
            :title="$tc('sw-settings-license-check.modal.clickToOpenLicense')"
        >
            <sw-loader
                v-if="isSilentLicenseChecking"
                size="12px"
                class="sw-extension-config__license-chip-loader"
            />
            <template v-else>
                <span class="sw-extension-config__license-chip-indicator" :class="'is--' + licenseChipColor"></span>
                <span class="sw-extension-config__license-chip-text">{{ licenseChipText }}</span>
                <mt-icon name="regular-cog" size="12" class="sw-extension-config__license-chip-icon" />
            </template>
        </button>
        
        <mt-button
            variant="primary"
            class="sw-extension-config__save-action"
            size="default"
            @click.prevent="onSave"
        >
            {{ $tc('global.default.save') }}
        </mt-button>
    </template>

    <template #default>
        <sw-system-config
            ref="systemConfig"
            :domain="domain"
            sales-channel-switchable
            :sales-channel-id="salesChannelId"
        />
    </template>
</sw-meteor-page>
{% endblock %}

