{% block sw_extension_config %}
<sw-meteor-page
    class="sw-extension-config"
    :from-link="fromLink"
>
    <template #smart-bar-icon>
        {# Custom SVG Icon für HeroBlocks - Matt Interfaces CI #}
        <div 
            v-if="isHeroBlocksConfig" 
            class="sw-extension-config__extension-icon sw-extension-config__hero-blocks-icon"
            :title="extensionLabel"
        >
            <svg 
                class="hero-blocks-logo-svg" 
                viewBox="0 0 512 512" 
                xmlns="http://www.w3.org/2000/svg"
                aria-label="Hero Blocks Logo"
            >
                <path d="M0 0 C3.50448246 3.03391591 6.93786573 6.14080887 10.33984375 9.2890625 C11.80150361 10.62543723 13.26573742 11.9604058 14.77796936 13.23927307 C21.04430439 18.55322653 26.7753117 24.3778599 32.55181503 30.2103405 C34.42368579 32.09977729 36.29922982 33.98549742 38.17581177 35.87025452 C43.50466857 41.22343082 48.82765336 46.58241936 54.14648438 51.94555664 C57.4128886 55.23865975 60.68408048 58.52694269 63.9583168 61.81225777 C65.20339805 63.06355859 66.44657711 64.31675506 67.68783188 65.57185173 C69.41354542 67.31666758 71.14522656 69.05534136 72.87841797 70.79272461 C73.64826775 71.57571678 73.64826775 71.57571678 74.43367004 72.37452698 C76.85902949 75.11033762 76.85902949 75.11033762 80.2109375 75.9140625 C79.7365625 74.9446875 79.2621875 73.9753125 78.7734375 72.9765625 C73.4423907 60.49068973 74.64568328 41.74036232 78.8984375 29.14453125 C86.53949699 10.33751875 99.39321242 -3.12571787 118.2109375 -11.0859375 C135.01788907 -17.13341633 153.29250218 -16.59354156 169.7421875 -9.41015625 C192.95756048 3.0423935 211.70454266 27.31260691 230.0859375 45.7890625 C234.72732097 50.45412649 239.37040213 55.11747712 244.01764297 59.7767067 C245.86439915 61.62993228 247.70812081 63.4861406 249.55172729 65.34249878 C250.67219679 66.4665967 251.79280462 67.59055676 252.91357422 68.71435547 C253.42358978 69.22953735 253.93360535 69.74471924 254.45907593 70.2755127 C257.08215645 72.9292593 257.08215645 72.9292593 260.2109375 74.9140625 C260.2109375 75.5740625 260.2109375 76.2340625 260.2109375 76.9140625 C260.8709375 76.9140625 261.5309375 76.9140625 262.2109375 76.9140625 C261.86160156 75.75648438 261.51226562 74.59890625 261.15234375 73.40625 C260.69251882 71.86724411 260.23289398 70.32817843 259.7734375 68.7890625 C259.42829102 67.64824219 259.42829102 67.64824219 259.07617188 66.484375 C254.00954404 49.44875676 255.11617903 33.61424171 263.43359375 17.89453125 C272.45189399 2.77153546 285.78957793 -6.16277086 302.51171875 -11.05078125 C323.74962215 -16.27006215 343.68448845 -12.22347529 362.2109375 -1.0859375 C365.4458955 1.03148956 368.32839335 3.34163333 371.2109375 5.9140625 C372.19964844 6.77257812 373.18835938 7.63109375 374.20703125 8.515625 C383.94729765 17.09907596 392.50286001 25.8144114 393.37207031 39.43994141 C393.41923193 42.47309135 393.44640582 45.50557408 393.4609375 48.5390625 C393.491875 50.02599609 393.491875 50.02599609 393.5234375 51.54296875 C393.62861384 73.23558848 389.61419102 95.07004413 386.4609375 116.4765625 C386.17893901 118.40758647 385.89694357 120.33861088 385.61508465 122.26965523 C381.13190311 152.94876469 376.38601641 183.58887727 371.67993164 214.234375 C368.21344328 236.80932253 364.75475583 259.38493096 361.3984375 281.9765625 C361.2414035 283.0274707 361.08436951 284.07837891 360.9225769 285.16113281 C359.14661577 297.05896238 357.53117619 308.95664189 356.2109375 320.9140625 C352.74585544 322.06908985 350.06870416 322.03942849 346.41137314 322.03990364 C345.71271045 322.04135708 345.01404776 322.04281052 344.29421347 322.04430801 C341.93552102 322.04797915 339.57689274 322.04447641 337.21820068 322.04104614 C335.51705748 322.04219753 333.81591452 322.04378517 332.11477208 322.04577339 C327.42620774 322.04996448 322.73766364 322.04787698 318.04909921 322.04478717 C312.9978447 322.04253234 307.94659377 322.04601315 302.89533997 322.04876709 C292.99328797 322.05322326 283.09124355 322.05224888 273.18919125 322.04935445 C265.14202907 322.04709931 257.09486901 322.04678838 249.0477066 322.04787827 C247.90390994 322.0480315 246.76011328 322.04818473 245.58165611 322.04834261 C243.25825983 322.04866232 240.93486355 322.04898654 238.61146727 322.0493152 C216.80244632 322.05216967 194.99342956 322.04888374 173.18440929 322.04351483 C154.46522258 322.03904922 135.74604207 322.03982079 117.02685547 322.04443359 C95.30395475 322.04978405 73.58105772 322.05189246 51.85815644 322.04882133 C49.54191478 322.04850277 47.22567312 322.0481884 44.90943146 322.04787827 C43.76972387 322.04772399 42.63001627 322.04756971 41.45577209 322.04741076 C33.41893658 322.04654685 25.3821034 322.04800585 17.34526825 322.05035782 C7.54977045 322.05316134 -2.24571934 322.05240596 -12.04121622 322.04707707 C-17.04046656 322.04444718 -22.03970354 322.04342297 -27.03895378 322.04672623 C-31.61468878 322.04970392 -36.190398 322.0480717 -40.76613066 322.04274867 C-42.42227814 322.04163077 -44.07842779 322.04220182 -45.73457387 322.04462446 C-47.98512474 322.04766427 -50.23558731 322.04454686 -52.48613358 322.03990364 C-53.73644529 322.03974129 -54.986757 322.03957894 -56.27495694 322.03941166 C-59.84321752 321.91213077 -63.2665481 321.48364168 -66.7890625 320.9140625 C-71.90905733 287.65774989 -76.92800022 254.38749314 -81.8515625 221.1015625 C-81.98035671 220.23103493 -82.10915092 219.36050735 -82.24184799 218.46360016 C-84.64825751 202.1981939 -87.05081893 185.93222138 -89.44581604 169.66513062 C-90.09254057 165.27372588 -90.74026962 160.88246983 -91.38839722 156.49127197 C-91.69522041 154.41137582 -92.00164246 152.33142046 -92.30764771 150.25140381 C-94.26010412 136.98786368 -96.27422941 123.7347964 -98.33581352 110.48784447 C-98.72171559 108.00604952 -99.10655247 105.52409192 -99.49098206 103.04206848 C-99.61781215 102.22328563 -99.74464224 101.40450277 -99.87531567 100.56090832 C-100.1314474 98.90721968 -100.3875312 97.25352362 -100.64356709 95.59982014 C-101.39502739 90.75128702 -102.15423348 85.90404679 -102.91930485 81.05764389 C-103.39491202 78.03401433 -103.8636186 75.00934212 -104.33065987 71.98437881 C-104.54922131 70.57853304 -104.77067047 69.17313249 -104.99531364 67.7682457 C-108.21683958 47.59809081 -106.55536677 30.91907468 -94.7890625 13.9140625 C-83.14247953 -0.85428498 -66.35142576 -12.81858678 -47.4140625 -15.83984375 C-28.56788274 -17.6066731 -14.52069212 -11.82167871 0 0 Z M137.2109375 86.9140625 C135.29469362 89.9880677 133.65692962 93.18269218 132.0234375 96.4140625 C131.31767578 97.78401367 131.31767578 97.78401367 130.59765625 99.18164062 C126.73458174 106.73735989 123.05687909 114.3810355 119.47192383 122.07226562 C117.55924038 126.16567224 115.53719556 130.03696573 113.2109375 133.9140625 C113.2109375 134.5740625 113.2109375 135.2340625 113.2109375 135.9140625 C112.54843994 135.95869629 111.88594238 136.00333008 111.20336914 136.04931641 C102.73405167 136.68217592 94.3596707 137.75981745 85.95629883 138.9609375 C83.64960008 139.28889721 81.34152644 139.60557913 79.03320312 139.921875 C63.7201913 141.31680576 63.7201913 141.31680576 51.2109375 148.9140625 C54.70568901 161.34916199 68.2504716 171.00994314 77.37060547 179.8269043 C79.10529202 181.50691934 80.82683543 183.19954019 82.546875 184.89453125 C83.33437637 185.64635933 83.33437637 185.64635933 84.13778687 186.41337585 C88.83775703 191.07957591 91.3446081 195.68483665 91.48046875 202.33300781 C91.32255509 206.70033642 90.70245598 210.92123483 89.8984375 215.2109375 C89.62484466 216.76299346 89.35141224 218.3150777 89.078125 219.8671875 C88.64722001 222.26110413 88.21272535 224.65430331 87.77441406 227.046875 C84.88471059 241.40710652 84.88471059 241.40710652 85.2109375 255.9140625 C86.42085639 257.65281024 86.42085639 257.65281024 88.2109375 258.9140625 C94.47612474 259.58024927 100.03320289 256.96142753 105.39453125 254.0546875 C106.13494156 253.66843201 106.87535187 253.28217651 107.63819885 252.88421631 C109.98232008 251.65762025 112.31536754 250.41152788 114.6484375 249.1640625 C116.20827243 248.34239704 117.76881492 247.52207332 119.33007812 246.703125 C120.08938629 246.30411987 120.84869446 245.90511475 121.63101196 245.49401855 C123.12886876 244.70699296 124.62689281 243.9202856 126.12509155 243.13391113 C129.20022887 241.51620285 132.25944251 239.88682892 135.28955078 238.18554688 C139.06463668 236.12056703 141.43694641 234.92673703 145.7890625 234.85546875 C150.05746931 236.1759462 153.95926742 237.87574311 157.9609375 239.8515625 C158.77933105 240.24690186 159.59772461 240.64224121 160.44091797 241.04956055 C167.24909164 244.36791194 173.96203457 247.86769261 180.62792969 251.46264648 C190.88835537 257.66366731 190.88835537 257.66366731 202.2109375 258.9140625 C205.36527761 255.54943305 205.39835067 252.55360046 205.33105469 248.081604 C205.14140339 244.65930385 204.54627648 241.32720253 203.8984375 237.96875 C203.62472347 236.46359193 203.35129524 234.95838186 203.078125 233.453125 C202.64808006 231.12932206 202.2142123 228.80635229 201.77441406 226.484375 C196.64522063 199.22172327 196.64522063 199.22172327 201.75390625 190.7734375 C205.91756898 185.4600234 210.92121483 180.99011311 216.0234375 176.6015625 C230.23029236 165.29774645 230.23029236 165.29774645 238.5390625 150.37890625 C238.13929573 147.37589636 237.52634552 146.79483436 235.2109375 144.9140625 C228.00595279 141.93010421 220.11098386 141.57915076 212.43359375 140.96875 C180.36917408 138.19798964 180.36917408 138.19798964 173.93798828 132.39990234 C169.30226209 126.5900621 167.03858705 120.07631978 165.09814453 112.96875 C163.84823449 108.66526228 161.89287036 104.90447458 159.7734375 100.9765625 C159.15307379 99.73726193 158.53570816 98.49645439 157.921875 97.25390625 C153.80432843 88.55000454 153.80432843 88.55000454 147.2109375 81.9140625 C142.29092005 81.0077435 140.11868159 83.26775141 137.2109375 86.9140625 Z" fill="#FF5432" transform="translate(115.7890625,62.0859375)"/>
                <path d="M0 0 C7.63869384 0.00377248 15.27737471 0.00240552 22.91606808 -0.00180173 C105.48487289 -0.04583975 105.48487289 -0.04583975 141.15474606 0.45550799 C143.73037902 0.49165691 146.30604248 0.52571954 148.8817358 0.55727649 C162.20684365 0.72841139 175.50218688 1.17650404 188.80376339 1.97964358 C190.02751171 2.04738042 191.25126003 2.11511725 192.51209164 2.18490672 C211.68767352 3.45361483 211.68767352 3.45361483 217.12779903 8.09450984 C219.14982038 10.52029718 219.32665708 11.64216553 219.31938839 14.76138186 C219.32003292 15.65083499 219.32067745 16.54028811 219.32134151 17.45669436 C219.30136105 18.37966311 219.28138058 19.30263186 219.26079464 20.25356936 C219.26788448 21.15333499 219.27497433 22.05310061 219.28227901 22.98013186 C219.21256221 30.44519262 218.21876824 38.35465073 213.63579464 44.50356936 C206.2702393 51.37808768 199.37933871 51.74864159 189.70122433 51.8439014 C188.39153053 51.87171758 187.08183674 51.89953376 185.73245525 51.92819285 C182.16434004 52.00290353 178.59626483 52.05326587 175.02766895 52.09844565 C172.11390442 52.13826348 169.20047744 52.19215799 166.2869494 52.24630129 C156.67361729 52.42419718 147.05990153 52.54661806 137.4455471 52.65353513 C134.717423 52.68391381 131.9893114 52.71528813 129.261199 52.74669909 C82.22332802 53.28055495 35.18460095 53.28130493 -11.85570574 53.25713873 C-21.32453347 53.2527836 -30.79334794 53.25591445 -40.26217484 53.26076686 C-50.77965424 53.2659291 -61.29712667 53.26528725 -71.81460667 53.26238513 C-76.17203652 53.26130367 -80.52945846 53.26214895 -84.88688755 53.26486468 C-107.05102831 53.27664809 -129.2117554 53.17862996 -151.37308359 52.80122232 C-153.57971671 52.76431748 -155.78640039 52.73030677 -157.99312544 52.69938374 C-161.05202952 52.65507679 -164.11045189 52.59833062 -167.16907597 52.53796268 C-168.06679706 52.52682838 -168.96451816 52.51569409 -169.88944292 52.50422239 C-179.16545973 52.29088749 -186.47599605 50.6949727 -193.36420536 44.00356936 C-197.71044418 37.10953538 -198.47940881 29.79538892 -198.98920536 21.81606936 C-199.04229862 21.03916751 -199.09539188 20.26226565 -199.15009403 19.46182132 C-199.3537049 15.22808783 -199.35222121 11.91453201 -197.17670536 8.12856936 C-180.50141351 -3.78235339 -145.54070349 0.86688143 -126.17670536 0.57388186 C-125.51313148 0.5635198 -124.84955761 0.55315773 -124.16587543 0.54248166 C-82.7803344 -0.10329169 -41.38940954 -0.02280868 0 0 Z" fill="#FF5432" transform="translate(250.1767053604126,409.87143063545227)"/>
            </svg>
        </div>
        {# Standard Shopware Icon für andere Plugins #}
        <sw-extension-icon
            v-else
            class="sw-extension-config__extension-icon"
            :src="image"
            :alt="$tc('sw-extension-store.component.sw-extension-config.imageDescription', { extensionName: extensionLabel}, 0)"
        />
    </template>

    <template #smart-bar-header>
        {{ extensionLabel }}
    </template>

    <template
        v-if="extension"
        #smart-bar-header-meta
    >
        <span v-if="extension.producerWebsite && extension.producerName">
            {{ $tc('sw-extension-store.component.sw-extension-config.labelBy') }}

            <sw-external-link
                small
                :href="extension.producerWebsite"
                class="sw-extension-config__producer-link"
            >
                {{ extension.producerName }}
            </sw-external-link>
        </span>

        <span v-else-if="extension.producerName">
            {{ $tc('sw-extension-store.component.sw-extension-config.labelBy') }} {{ extension.producerName }}
        </span>
    </template>

    <template #smart-bar-actions>
        {# Active License Chip im Header - nur für HeroBlocks #}
        {# Layout: Custom Button mit [Farb-Indikator] [Text] [Zahnrad-Icon] #}
        <button 
            v-if="isHeroBlocksConfig && showLicenseChip" 
            :class="[
                'sw-extension-config__license-chip-btn', 
                { 
                    'is-loading': isSilentLicenseChecking,
                    'is--active': licenseStatus === 'active',
                    'is--expired': licenseStatus === 'expired' || licenseStatus === 'invalid'
                }
            ]"
            @click="onLicenseChipClick"
            type="button"
            :title="$tc('sw-settings-license-check.modal.clickToOpenLicense')"
        >
            <sw-loader
                v-if="isSilentLicenseChecking"
                size="12px"
                class="sw-extension-config__license-chip-loader"
            />
            <template v-else>
                <span class="sw-extension-config__license-chip-indicator" :class="'is--' + licenseChipColor"></span>
                <span class="sw-extension-config__license-chip-text">{{ licenseChipText }}</span>
                <mt-icon name="regular-cog" size="12" class="sw-extension-config__license-chip-icon" />
            </template>
        </button>
        
        <mt-button
            variant="primary"
            class="sw-extension-config__save-action"
            size="default"
            @click.prevent="onSave"
        >
            {{ $tc('global.default.save') }}
        </mt-button>
    </template>

    <template #default>
        <sw-system-config
            ref="systemConfig"
            :domain="domain"
            sales-channel-switchable
            :sales-channel-id="salesChannelId"
        />
    </template>
</sw-meteor-page>
{% endblock %}

