{% block sw_cms_block_hero_shopping_experience %}
    <div class="sw-cms-block-hero-shopping-experience">
        {# Content Slot #}
        <div class="sw-cms-block-hero-shopping-experience__content">
            <slot name="content"></slot>
        </div>
        
        {# Products Slot #}
        <div class="sw-cms-block-hero-shopping-experience__products">
            <slot name="products"></slot>
        </div>
    </div>
{% endblock %}

