{% block sw_cms_el_preview_hero_product_landing %}
<div class="sw-cms-el-preview-hero-product-landing">
    
    {# Product Image Placeholder #}
    <div class="sw-cms-el-preview-hero-product-landing__image">
        <sw-icon name="regular-shopping-bag" size="24px" />
    </div>
    
    {# Product Info Preview #}
    <div class="sw-cms-el-preview-hero-product-landing__info">
        <div class="sw-cms-el-preview-hero-product-landing__name">
            Produktname
        </div>
        <div class="sw-cms-el-preview-hero-product-landing__description">
            Produktbeschreibung...
        </div>
        <div class="sw-cms-el-preview-hero-product-landing__price">
            €XX.XXX
        </div>
    </div>
    
</div>
{% endblock %}
