{% block sw_cms_el_preview_hero_instagram_feed %}
    <div class="sw-cms-el-preview-hero-instagram-feed">
        <img :src="assetFilter('/administration/administration/static/img/cms/preview_camera_large.jpg')" alt="Instagram Feed">
    </div>
{% endblock %}

