{% block sw_cms_block_hero_booking_form %}
    <div class="sw-cms-block-hero-booking-form">
        <slot name="content">
            <sw-cms-slot name="content" :block="block"></sw-cms-slot>
        </slot>
    </div>
{% endblock %}
