.sw-cms-preview-hero-two-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    height: 100%;
    width: 100%;

    &__left,
    &__right {
        position: relative;
        height: 100%;
        width: 100%;

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

