{% block sw_cms_preview_hero_two_images %}
    <div class="sw-cms-preview-hero-two-images">
        <div class="sw-cms-preview-hero-two-images__left">
            <img :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_large.jpg')" alt="Hero Two Images Preview">
        </div>
        <div class="sw-cms-preview-hero-two-images__right">
            <img :src="assetFilter('/administration/administration/static/img/cms/preview_glasses_large.jpg')" alt="Hero Two Images Preview">
        </div>
    </div>
{% endblock %}

