{% block sw_cms_block_hero_two_columns %}
<div class="sw-cms-block-hero-two-columns" :class="blockClass">
    {# WICHTIG: Background Images/CSS für große Vorschau (nur bei two-images Mode) #}
    <template v-if="backgroundMode === 'two-images'">
        {# Background Left: Image oder CSS Code #}
        <div 
            v-if="hasBackgroundLeft" 
            class="sw-cms-block-hero-two-columns__background sw-cms-block-hero-two-columns__background--left"
            :style="backgroundLeftStyle">
        </div>
        {# Background Right: Image oder CSS Code #}
        <div 
            v-if="hasBackgroundRight" 
            class="sw-cms-block-hero-two-columns__background sw-cms-block-hero-two-columns__background--right"
            :style="backgroundRightStyle">
        </div>
    </template>
    
    {# Content Slots #}
    <slot name="left"></slot>
    <slot name="right"></slot>
</div>
{% endblock %}
