.sw-cms-block-hero-two-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    grid-gap: 40px; // WICHTIG: Wie Standard-Block (image-text) - 40px Abstand zwischen Slots
    width: 100%;
    height: 100%;
}

