{% block sw_cms_block_hero_instagram_feed %}
    <div class="sw-cms-block-hero-instagram-feed">
        {% block sw_cms_block_hero_instagram_feed_slot %}
            {# WICHTIG: Slot für Instagram Feed Element #}
            <slot name="instagramFeed"></slot>
        {% endblock %}
    </div>
{% endblock %}

