{% block sw_cms_el_category_slider %}
<div class="sw-cms-el-category-slider">
    {# WICHTIG: Preview für große Ansicht (wie Hero Block Slider) - Mini-Vorschau mit 2 Bildern nebeneinander #}
    <div class="sw-cms-el-category-slider__preview" v-if="hasCategory || (categoryImages && categoryImages.length > 0)">
        {# Category Title (oben links) - wie in Sidebar Preview #}
        <div class="sw-cms-el-category-slider__preview-title">{{ categoryName }}</div>
        
        {# Slider Preview - Zwei Elemente nebeneinander (wie Hero Block Slider Sidebar Preview) #}
        <div class="sw-cms-el-category-slider__preview-slider">
            {# Slide 1 #}
            <div class="sw-cms-el-category-slider__preview-slide">
                <img
                    :src="previewImageUrl"
                    :alt="categoryName"
                    class="sw-cms-el-category-slider__preview-image"
                >
            </div>
            {# Slide 2 (wenn vorhanden) #}
            <div class="sw-cms-el-category-slider__preview-slide" v-if="categoryImages && categoryImages.length > 1">
                <img
                    :src="categoryImages[1]?.media?.url || previewImageUrl"
                    :alt="categoryName"
                    class="sw-cms-el-category-slider__preview-image"
                >
            </div>
            {# Fallback: Zweites Bild aus Preview-Assets wenn nur 1 Bild vorhanden #}
            <div class="sw-cms-el-category-slider__preview-slide" v-else>
                <img
                    :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')"
                    :alt="categoryName"
                    class="sw-cms-el-category-slider__preview-image"
                >
            </div>
        </div>
        
        {# Navigation Dots (außerhalb unterhalb) - wie in Sidebar Preview #}
        <div class="sw-cms-el-category-slider__preview-dots">
            <span class="sw-cms-el-category-slider__preview-dot sw-cms-el-category-slider__preview-dot--active"></span>
            <span class="sw-cms-el-category-slider__preview-dot"></span>
            <span class="sw-cms-el-category-slider__preview-dot"></span>
        </div>
        
        {# Image Count Info #}
        <div class="sw-cms-el-category-slider__preview-count" v-if="categoryImages && categoryImages.length > 0">
            {{ categoryImages.length }} {{ $tc('sw-cms.elements.categorySlider.preview.images') }}
        </div>
    </div>
    {# WICHTIG: Zeige Placeholder nur wenn KEINE Kategorie ausgewählt #}
    <div class="sw-cms-el-category-slider__placeholder" v-else>
        <span class="sw-cms-el-category-slider__placeholder-icon">
            <mt-icon name="regular-image" size="24"></mt-icon>
        </span>
        <div class="sw-cms-el-category-slider__placeholder-text">
            {{ $tc('sw-cms.elements.categorySlider.preview.noCategory', 0, {}) }}
        </div>
    </div>
</div>
{% endblock %}

