{% block sw_cms_block_config_hero_shopping_experience %}
<div class="sw-cms-block-config-hero-shopping-experience">
    {# WICHTIG: In Development Banner #}
    <mt-banner variant="info">
        {{ $tc('sw-cms.blocks.heroBlocks.heroShoppingExperience.config.inDevelopment') }}
    </mt-banner>
    
    {# TODO: Shopping Experience Settings werden hier später konfiguriert #}
</div>
{% endblock %}

