{% block sw_cms_block_hero_mega_menu %}
<div class="sw-cms-block-hero-mega-menu" :class="blockClass">
    <div class="sw-cms-block-hero-mega-menu__placeholder">
        <div class="sw-cms-block-hero-mega-menu__placeholder-content">
            <div class="sw-cms-block-hero-mega-menu__placeholder-icon">
                <mt-icon name="regular-bars" size="32" />
            </div>
            <div class="sw-cms-block-hero-mega-menu__placeholder-title">
                {{ $tc('sw-cms.blocks.heroBlocks.heroMegaMenu.label') }}
            </div>
            <div class="sw-cms-block-hero-mega-menu__placeholder-text">
                {{ $tc('sw-cms.blocks.heroBlocks.heroMegaMenu.placeholder') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

