{% block sw_cms_preview_hero_shopping_experience %}
{# Mini-Vorschau für Sidebar - Shopping Experience mit Produkten #}
<div class="sw-cms-preview-hero-shopping-experience">
    {# Shopping Bag Icon (Hintergrund) #}
    <div class="sw-cms-preview-hero-shopping-experience__icon-bg">
        <mt-icon name="solid-shopping-bag" size="48"></mt-icon>
    </div>
    
    {# Product Grid Preview (4 kleine Boxen) #}
    <div class="sw-cms-preview-hero-shopping-experience__products">
        <div class="sw-cms-preview-hero-shopping-experience__product-box"></div>
        <div class="sw-cms-preview-hero-shopping-experience__product-box"></div>
        <div class="sw-cms-preview-hero-shopping-experience__product-box"></div>
        <div class="sw-cms-preview-hero-shopping-experience__product-box"></div>
    </div>
    
    {# Content Label (unten) #}
    <div class="sw-cms-preview-hero-shopping-experience__label">
        <div class="sw-cms-preview-hero-shopping-experience__title">Shopping</div>
        <div class="sw-cms-preview-hero-shopping-experience__subtitle">Experience</div>
    </div>
</div>
{% endblock %}
