.sw-cms-preview-hero-instagram-feed {
    height: 100%;
    width: 100%;
    
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.25rem;
        height: 100%;
        width: 100%;
    }

    &__item {
        aspect-ratio: 1;
        background-color: var(--color-gray-200);
        border-radius: 2px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}

