{% block sw_cms_preview_hero_instagram_feed %}
    <div class="sw-cms-preview-hero-instagram-feed">
        <div class="sw-cms-preview-hero-instagram-feed__grid">
            <div class="sw-cms-preview-hero-instagram-feed__item">
                <img :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_large.jpg')" alt="Instagram Preview">
            </div>
            <div class="sw-cms-preview-hero-instagram-feed__item">
                <img :src="assetFilter('/administration/administration/static/img/cms/preview_glasses_large.jpg')" alt="Instagram Preview">
            </div>
            <div class="sw-cms-preview-hero-instagram-feed__item">
                <img :src="assetFilter('/administration/administration/static/img/cms/preview_plant_large.jpg')" alt="Instagram Preview">
            </div>
            <div class="sw-cms-preview-hero-instagram-feed__item">
                <img :src="assetFilter('/administration/administration/static/img/cms/preview_camera_large.jpg')" alt="Instagram Preview">
            </div>
            <div class="sw-cms-preview-hero-instagram-feed__item">
                <img :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')" alt="Instagram Preview">
            </div>
            <div class="sw-cms-preview-hero-instagram-feed__item">
                <img :src="assetFilter('/administration/administration/static/img/cms/preview_glasses_small.jpg')" alt="Instagram Preview">
            </div>
        </div>
    </div>
{% endblock %}

