{% block sw_cms_preview_hero_instagram_feed %}
    <div class="sw-cms-preview-hero-instagram-feed">
        <div class="sw-cms-preview-hero-instagram-feed__grid">
            {% for i in 1..6 %}
                <div class="sw-cms-preview-hero-instagram-feed__item">
                    <div class="sw-cms-preview-hero-instagram-feed__item-image"></div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

