{% block block_two_images %}
    {% set columns = 2 %}

    {% block block_two_images_left %}
        {% set element = block.slots.getSlot('left') %}

        <div class="col-md-6" data-cms-element-id="{{ element.id }}">
            {% block block_two_images_left_inner %}
                {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_two_images_right %}
        {% set element = block.slots.getSlot('right') %}

        <div class="col-md-6" data-cms-element-id="{{ element.id }}">
            {% block block_two_images_right_inner %}
                {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}

