{% block sw_cms_el_config_category_slider %}
<div class="sw-cms-el-config-hero-category-slider" v-if="element && element.config">
    {# WICHTIG: Kategorie-Mehrfachauswahl (aus Element config) - HAUPTFEATURE #}
    {% block sw_cms_el_config_category_slider_category %}
    <sw-entity-multi-select
        v-if="categoryCollection && categoryCriteria"
        entity="category"
        v-model:ids="selectedCategoryIds"
        v-model:collection="categoryCollection"
        :criteria="categoryCriteria"
        :placeholder="$tc('sw-cms.elements.categorySlider.config.category.placeholder')"
        :label="$tc('sw-cms.elements.categorySlider.config.category.label')"
        :help-text="$tc('sw-cms.elements.categorySlider.config.category.helpText')"
        label-property="name"
        @update:ids="onCategoryChange"
    />
    {% endblock %}
    
    {# WICHTIG: Subcategory Levels (Feature aus Shopware Store Extension) #}
    {% block sw_cms_el_config_category_slider_subcategory_levels %}
    <mt-number-field
        v-if="element.config.subcategoryLevels !== undefined"
        :model-value="element.config.subcategoryLevels.value || 0"
        :label="$tc('sw-cms.elements.categorySlider.config.subcategoryLevels.label')"
        :help-text="$tc('sw-cms.elements.categorySlider.config.subcategoryLevels.helpText')"
        :min="0"
        :max="5"
        :step="1"
        @update:model-value="onChangeSubcategoryLevels"
    />
    {% endblock %}
    
    {# WICHTIG: Image Count (1 or 2) - aus Block-Config ins Modal verschoben #}
    {% block sw_cms_el_config_category_slider_image_count %}
    <mt-select
        v-if="element.config.imageCount"
        :model-value="element.config.imageCount.value || '1'"
        :label="$tc('sw-cms.elements.categorySlider.config.imageCount.label')"
        :help-text="$tc('sw-cms.elements.categorySlider.config.imageCount.helpText')"
        :options="imageCountOptions"
        @update:model-value="onChangeImageCount"
    />
    {% endblock %}
    
    {# WICHTIG: Image Width (inner-full-width or full-width) - aus Block-Config ins Modal verschoben #}
    {% block sw_cms_el_config_category_slider_image_width %}
    <mt-select
        v-if="element.config.imageWidth"
        :model-value="element.config.imageWidth.value || 'inner-full-width'"
        :label="$tc('sw-cms.elements.categorySlider.config.imageWidth.label')"
        :help-text="$tc('sw-cms.elements.categorySlider.config.imageWidth.helpText')"
        :options="imageWidthOptions"
        @update:model-value="onChangeImageWidth"
    />
    {% endblock %}
    
    {# WICHTIG: Slider Settings - ALLE Settings sind im Element-Modal! #}
    {% block sw_cms_el_config_category_slider_settings %}
    <div class="sw-cms-el-config-hero-category-slider__settings">
        <h3 class="sw-cms-el-hero-category-slider__settings-title">
            {{ $tc('sw-cms.elements.categorySlider.config.settings.title') }}
        </h3>
        
        {# Navigation Arrows (Standard Shopware Keys wie Hero Slider) #}
        <mt-select
            v-if="element.config.navigationArrows"
            :model-value="element.config.navigationArrows.value"
            :label="$tc('sw-cms.elements.imageSlider.config.label.navigationArrows')"
            :help-text="$tc('sw-cms.elements.imageSlider.config.helpText.navigationArrows')"
            :options="navigationArrowsOptions"
            @update:model-value="onChangeNavigationArrows"
        />
        
        {# Navigation Dots (Standard Shopware Keys wie Hero Slider) #}
        <mt-select
            v-if="element.config.navigationDots !== undefined"
            :model-value="element.config.navigationDots.value"
            :label="$tc('sw-cms.elements.imageSlider.config.label.navigationDots')"
            :help-text="$tc('sw-cms.elements.imageSlider.config.helpText.navigationDots')"
            :options="navigationDotsOptions"
            @update:model-value="onChangeNavigationDots"
        />
        
        {# Auto Slide (Standard Shopware Keys wie Hero Slider) #}
        <mt-switch
            v-if="element.config.autoSlide"
            :model-value="element.config.autoSlide.value"
            :label="$tc('sw-cms.elements.general.config.label.autoSlide')"
            :help-text="$tc('sw-cms.elements.general.config.helpText.autoSlide')"
            @update:model-value="onChangeAutoSlide"
        />
        
        {# Autoplay Timeout (Standard Shopware Keys wie Hero Slider) #}
        <mt-number-field
            v-if="element.config.autoSlide && element.config.autoSlide.value === true && element.config.autoplayTimeout"
            :model-value="element.config.autoplayTimeout.value"
            :label="$tc('sw-cms.elements.general.config.label.autoplayTimeout')"
            :help-text="$tc('sw-cms.elements.general.config.helpText.autoplayTimeout')"
            :min="1000"
            :max="30000"
            :step="500"
            @update:model-value="onChangeAutoplayTimeout"
        />
        
        {# Speed (Standard Shopware Keys wie Hero Slider) #}
        <mt-number-field
            v-if="element.config.speed"
            :model-value="element.config.speed.value"
            :label="$tc('sw-cms.elements.general.config.label.speed')"
            :help-text="$tc('sw-cms.elements.general.config.helpText.speed')"
            :min="100"
            :max="1000"
            :step="50"
            @update:model-value="onChangeSpeed"
        />
        
        {# Display Mode (Standard Shopware Keys wie Hero Slider) #}
        <mt-select
            v-if="element.config.displayMode"
            :model-value="element.config.displayMode.value"
            :label="$tc('sw-cms.elements.general.config.label.displayMode')"
            :help-text="$tc('sw-cms.elements.imageSlider.config.helpText.displayMode')"
            :options="displayModeOptions"
            @update:model-value="onChangeDisplayMode"
        />
        
        {# Min Height (Category Slider spezifisch) #}
        <mt-text-field
            v-if="element.config.minHeight"
            :model-value="element.config.minHeight.value"
            :label="$tc('sw-cms.elements.categorySlider.config.minHeight.label')"
            :help-text="$tc('sw-cms.elements.categorySlider.config.minHeight.helpText')"
            @update:model-value="onChangeMinHeight"
        />
    </div>
    {% endblock %}
</div>
{% endblock %}

