.sw-cms-el-config-hero-category-slider {
    &__info {
        margin-bottom: 20px;
    }
    
    &__settings {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #e0e0e0;
        
        &-title {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 15px;
        }
    }
}

