{% block sw_extension_card_base_activation_switch %}
    {% parent %}
    
    {# Description unter dem Namen (nur für HeroBlocks) - Prüfe verschiedene Quellen #}
    <div v-if="extension.name === 'HeroBlocks' && (extension.description || extension.translated?.description)" class="sw-extension-card-base__description">
        <p class="sw-extension-card-base__description-text">
            {{ extension.description || extension.translated?.description || '' }}
        </p>
    </div>
{% endblock %}

